PORT=8787
NODE_ENV=production
ADMIN_ORIGIN=https://blog.minglingyun.com
ADMIN_USERNAME=glenn
ADMIN_PASSWORD_HASH=<bcrypt-hash>
SESSION_SECRET=<at-least-32-random-characters>
GITHUB_TOKEN=<fine-grained-pat>
GITHUB_OWNER=KJDhole
GITHUB_REPO=BlogWebsite
SQLITE_PATH=/app/data/editor.sqlite
